<table>
  <tr>
    <td>
      Name:
    </td>
    <td>

    </td>
  </tr>

  <tr>
    <td>
      Gender:
    </td>
    <td>

    </td>
  </tr>

  <tr>
  <td>
    Birthday:
  </td>
  <td>

  </td>
  </tr>

  <tr>
  <td>
    Email:
  </td>
  <td>

  </td>
  </tr>

  <tr>
  <td>
    Username:
  </td>
  <td>

  </td>
  </tr>

</table>
